<html>
	<body>
	<div lang="en" style="background-color:#f7f5f5;background:#f7f5f5 url('http://passets.pinterest.com/images/paper.jpg') repeat;padding:0;margin:0">
	<table width="100%" cellspacing="0" cellpadding="0" border="0" background="http://passets.pinterest.com/images/paper.jpg">
<tbody>
<tr>
<td style="padding:20px 20px 40px">
 <table width="700" cellspacing="0" cellpadding="0" border="0" align="center">
 <tbody>
    <tr>
	 <td align="center" style="padding:20px 0 40px">
	 <a target="_blank" style="border:none" title="Visit Pinterest.com" href="">
	 <img width="500" height="150" alt="Site Logo" style="vertical-align:top;outline:none;border:none" 
	 src="https://fbcdn-sphotos-g-a.akamaihd.net/hphotos-ak-ash3/1069310_719616464720160_1478477470_n.png"></a>
     </td>
    </tr>
    <tr>
	 <td background="http://passets.pinterest.com/images/mail/double_rules_full22.gif" align="center">
	 <table cellspacing="0" cellpadding="0" border="0" align="center">
	 <tbody><tr>
	 <td background="http://passets.pinterest.com/images/paper.jpg">
	 <h1 style="font-family:georgia,serif;font-weight:normal;font-size:22px;line-height:21px;color:#211922!important;margin:0;padding:0 20px">Hi, <%= @username %> </h1>
	 </td>
	 </tr>
	 </tbody></table>
	 </td>
    </tr>
    <tr>
     <td style="padding:20px 0 30px">
	  <table cellspacing="0" cellpadding="0" border="0" align="center">
	   <tbody>
	   <tr>
		  <td style="padding:10px 0">
		  <table cellspacing="0" cellpadding="0" border="0">
		  <tbody><tr>
		  <td width="124" height="124">
		  <table cellspacing="0" cellpadding="0" border="0">
		  <tbody>
		  <tr>
		  <td width="1" style="background-color:#eceaeb"></td>
		  <td style="background-color:#ffffff;padding:10px;border-top:1px solid #eae9e9;border-right:1px solid #d4d2d3;border-bottom:1px solid #b2b1b1;border-left:1px solid #d4d2d3">
		  <a target="_blank" title="Here at Sitename..." href="">
		  <img width="100" height="100" alt="Here at Pinterest..." style="vertical-align:top;outline:none;border:none" src="https://fbcdn-sphotos-b-a.akamaihd.net/hphotos-ak-prn1/1234151_729616390386834_405157245_n.png">
		  </a>
		  </td>
		  <td width="1" style="background-color:#eceaeb"></td>
		  </tr>
		 <tr>
		 <td width="1" style="background-color:#eceaeb"></td>
		 <td height="1" style="background-color:#d5d3d4"></td>
		 <td width="1" style="background-color:#eceaeb"></td>
		 </tr>
		 <tr>
		 <td width="1"></td>
		 <td height="1" style="background-color:#e8e6e7"></td>
		 <td width="1"></td>
		 </tr>
			</tbody>
			</table>
			</td>
			<td width="560" valign="top" style="padding:0 15px">
			<h3 style="font-family:georgia,serif;font-weight:normal;font-size:18px;color:#221919!important;margin:0;padding:10px 0 5px">Here at Pattuko...</h3>
			<p style="font-family:'helvetica neue',helvetica,arial,sans-serif;font-size:14px;color:#211922;line-height:22px;margin:0;padding:5px 0">Discover more about your favourite heros, heroines and movies and strengthen your fan club!</p>
			</td>
			</tr>
			</tbody>
		   </table>
		   </td>
        </tr>
       </tbody>
	   </table>
      </td>
     </tr>
    <tr>
	<td><img width="0" height="0" src="http://pinterest.com/email/tracking.gif?e_t=c7794d9e887f446781e7e47f95eaf9d4">
    </td>
	</tr>
	<tr>
		<td background="http://passets.pinterest.com/images/mail/double_rules_full22.gif" align="center">
		<table cellspacing="0" cellpadding="0" border="0" align="center">
		<tbody><tr>
		<td background="http://passets.pinterest.com/images/paper.jpg">
		<h2 style="font-family:georgia,serif;font-weight:normal;font-size:21px;color:#211922!important;margin:0;padding:0 20px"> Movies To Follow</h2>
		</td>
		</tr>
		</tbody></table>
		</td>
    </tr>
    <tr>
     <td style="padding:0 0 40px">
      <table width="100%" cellspacing="0" cellpadding="0" border="0">
      <tbody>
         <tr>
		 <td width="226" style="padding:30px 0 0">
		 <table width="226" cellspacing="0" cellpadding="0" border="0">
		 <tbody>
		 <tr>
		 <td align="center"><h4 style="font-family:georgia,serif;font-size:14px;line-height:13px;color:#524d4d!important;margin:0;padding:0">Atharintiki Dharedhi</h4></td>
		 </tr>
         <tr>

 <td>

 <table cellspacing="0" cellpadding="0" border="0">

 <tbody><tr>

 <td style="width:1px;background-color:#eceaeb"></td>

 <td style="border-top:1px solid #eae9e9;border-right:1px solid #d4d2d3;border-bottom:1px solid #b2b1b1;border-left:1px solid #d4d2d3">

 <table cellspacing="0" cellpadding="0" border="0" bgcolor="#FFFFFF">

 <tbody><tr>

 <td>

 <a target="_blank" title="See this board" href="http://www.pattuko.com/">

 <img width="222" height="150" alt="home" style="vertical-align:top;outline:none;border:none;border-bottom:1px solid #ffffff" src="http://d2tgu4jwper4r3.cloudfront.net/uploads/posts/image/1169/thumb_atharintiki-daredi-blocks-21st-aug.jpg">

 </a>

 </td>

 </tr>

 <tr>

 <td>

 <table cellspacing="0" cellpadding="0" border="0">

 <tbody><tr>

 

 <td><a target="_blank" title="See this board" href="http://www.pattuko.com/"><img width="55" height="55" style="vertical-align:top;outline:none;border:none;border-right:1px solid #ffffff" alt="1" 
 src="http://d2tgu4jwper4r3.cloudfront.net/uploads/posts/image/1535/thumb_atharintiki-daraedi-one-more-release-date.jpg"></a></td>



 

 <td><a target="_blank" title="See this board" href="http://www.pattuko.com/"><img width="55" height="55" style="vertical-align:top;outline:none;border:none;border-right:1px solid #ffffff" alt="2" src="http://d2tgu4jwper4r3.cloudfront.net/uploads/posts/image/1154/thumb_atharintiki-daraedi-new-release-date-21st-aug.jpg"></a></td>



 

 <td><a target="_blank" title="See this board" href="http://www.pattuko.com/"><img width="55" height="55" style="vertical-align:top;outline:none;border:none;border-right:1px solid #ffffff" alt="3" src="http://d2tgu4jwper4r3.cloudfront.net/uploads/posts/image/819/thumb_Attarintiki_Daredi_Latest_Romantic_Still.jpg"></a></td>



 

 <td><a target="_blank" title="See this board" href="http://www.pattuko.com/"><img width="54" height="55" style="vertical-align:top;outline:none;border:none" alt="4" src="http://d2tgu4jwper4r3.cloudfront.net/uploads/posts/image/546/thumb_Attarintiki-Daredi-post-production-in-final-stages.jpg"></a></td>


 

 </tr>

 </tbody></table>

 </td>

 </tr>

 </tbody></table>

 </td>

 <td style="width:1px;background-color:#eceaeb"></td>

 </tr>

 <tr>

 <td width="1" style="background-color:#eceaeb"></td>

 <td height="1" style="background-color:#d5d3d4"></td>

 <td width="1" style="background-color:#eceaeb"></td>

 </tr>

 <tr>

 <td width="1"></td>

 <td height="1" style="background-color:#e8e6e7"></td>

 <td width="1"></td>

 </tr>

 </tbody></table>

 </td>

 </tr>
         <tr>
		 <td width="220" valign="" align="center" style="padding:20px">
         <table cellspacing="0" cellpadding="0" border="0">
         <tbody>
		 <tr>
			<td height="34" background="http://passets.pinterest.com/images/mail/button_borderless.gif" align="center" style="background-repeat:repeat-x;border-radius:6px;background-color:#d43638;border:1px solid #910101;white-space:nowrap;min-height:34px">
			<a target="_blank" title="Fan" style="color:#fcf9f9;text-align:center;text-decoration:none;vertical-align:baseline" href="http://www.pattuko.com/">
			<span style="padding:9px 15px;color:#fcf9f9;text-decoration:none;color:#fcf9f9;font-family:'helvetica neue',helvetica,arial,sans-serif;font-weight:bold;font-size:14px;line-height:18px;white-space:nowrap">Fan</span>
			</a>	
			</td>
         </tr>
		</tbody>
		</table>
        </td>



 </tr></tbody></table>
         </td>
         <td width="11">&nbsp;</td>
         <td width="226" style="padding:30px 0 0">
         <table width="226" cellspacing="0" cellpadding="0" border="0">
         <tbody>
		 <tr>

 <td align="center"><h4 style="font-family:georgia,serif;font-size:14px;line-height:13px;color:#524d4d!important;margin:0;padding:0">Ramaiya Vastavaiya</h4></td>

 </tr>

 <tr>

 <td align="center" style="padding:6px 0">

 <table cellspacing="0" cellpadding="0" border="0">

 <tbody><tr>

 <td><a target="_blank" title="Junior N.T.R" href="http://www.pattuko.com/"><img width="18" height="18" 
 	alt="Junior N.T.R" style="vertical-align:top;outline:none;border:none" 
 	src="http://d2tgu4jwper4r3.cloudfront.net/uploads/artist/artist_profile_image/223/thumb_223-Junior-N.T.R.-profile_pic.jpg"></a></td>
 	



 <td style="padding:0 0 0 5px"><a target="_blank" style="font-family:'helvetica neue',helvetica,arial,sans-serif;font-size:11px;font-weight:bold;color:#ad9c9c;text-decoration:none;margin:0;padding:5px 0" title="Junior N.T.R" 
 	href="http://www.pattuko.com/">Junior N.T.R</a></td>



 </tr>

 </tbody></table>

 </td>

 </tr>

 <tr>

 <td>

 <table cellspacing="0" cellpadding="0" border="0">

 <tbody><tr>

 <td style="width:1px;background-color:#eceaeb"></td>

 <td style="border-top:1px solid #eae9e9;border-right:1px solid #d4d2d3;border-bottom:1px solid #b2b1b1;border-left:1px solid #d4d2d3">

 <table cellspacing="0" cellpadding="0" border="0" bgcolor="#FFFFFF">

 <tbody><tr>

 <td>

 <a target="_blank" title="See this board" href="http://www.pattuko.com/">

 <img width="222" height="150" alt="Ramaiya Vastavaiya" style="vertical-align:top;outline:none;border:none;border-bottom:1px solid #ffffff" src="http://d2tgu4jwper4r3.cloudfront.net/uploads/posts/image/217/medium_Ramayya_vastavaya-release-date.jpg">

 </a>

 </td>

 </tr>

 <tr>

 <td>

 <table cellspacing="0" cellpadding="0" border="0">

 <tbody><tr>

 

 <td><a target="_blank" title="See this board" href="http://www.pattuko.com/"><img width="55" height="55" style="vertical-align:top;outline:none;border:none;border-right:1px solid #ffffff" alt="1" src="http://d2tgu4jwper4r3.cloudfront.net/uploads/posts/image/1037/thumb_harish-shankar-over-confidence-ntr-ramayya-vastavayya.jpg"></a></td>



 

 <td><a target="_blank" title="See this board" href="http://www.pattuko.com/"><img width="55" height="55" style="vertical-align:top;outline:none;border:none;border-right:1px solid #ffffff" alt="2" src="http://d2tgu4jwper4r3.cloudfront.net/uploads/posts/image/1063/thumb_ntr-ramayya-vastavayya-audio-aug-last-week.jpg"></a></td>



 

 <td><a target="_blank" title="See this board" href="http://www.pattuko.com/"><img width="54" height="55" style="vertical-align:top;outline:none;border:none" alt="4" src="http://d2tgu4jwper4r3.cloudfront.net/uploads/posts/image/1612/thumb_Ramayya-Vasthavayya-team-to-Spain.jpg"></a></td>



 

 <td><a target="_blank" title="See this board" href="http://www.pattuko.com/"><img width="54" height="55" style="vertical-align:top;outline:none;border:none" alt="4" src="http://d2tgu4jwper4r3.cloudfront.net/uploads/posts/image/1262/thumb_NTR-Ramaiah-Vasthavaiah..._reached-to-climax.jpg"></a></td>



 

 </tr>

 </tbody></table>

 </td>

 </tr>

 </tbody></table>

 </td>

 <td style="width:1px;background-color:#eceaeb"></td>

 </tr>

 <tr>

 <td width="1" style="background-color:#eceaeb"></td>

 <td height="1" style="background-color:#d5d3d4"></td>

 <td width="1" style="background-color:#eceaeb"></td>

 </tr>

 <tr>

 <td width="1"></td>

 <td height="1" style="background-color:#e8e6e7"></td>

 <td width="1"></td>

 </tr>

 </tbody></table>

 </td>

 </tr>

 

<tr><td width="220" valign="" align="center" style="padding:20px">

 <table cellspacing="0" cellpadding="0" border="0">

 <tbody><tr>

 <td height="34" background="http://passets.pinterest.com/images/mail/button_borderless.gif" align="center" style="background-repeat:repeat-x;border-radius:6px;background-color:#d43638;border:1px solid #910101;white-space:nowrap;min-height:34px">



 <a target="_blank" title="Fan" style="color:#fcf9f9;text-align:center;text-decoration:none;vertical-align:baseline" href="http://www.pattuko.com/">

 

 <span style="padding:9px 15px;color:#fcf9f9;text-decoration:none;color:#fcf9f9;font-family:'helvetica neue',helvetica,arial,sans-serif;font-weight:bold;font-size:14px;line-height:18px;white-space:nowrap">Fan</span>

 

 </a>

 </td>

 </tr>

 </tbody></table>

</td>



 </tr></tbody></table>

 </td>

 

 <td width="11">&nbsp;</td>

 

 

 

 

 

 

 

 <td width="226" style="padding:30px 0 0">

 <table width="226" cellspacing="0" cellpadding="0" border="0">

 <tbody><tr>

 <td align="center"><h4 style="font-family:georgia,serif;font-size:14px;line-height:13px;color:#524d4d!important;margin:0;padding:0">Yevadu</h4></td>
 </tr>

 <tr>

 <td align="center" style="padding:6px 0">

 <table cellspacing="0" cellpadding="0" border="0">

 <tbody><tr>

 <td><a target="_blank" title="Sarah Magill" href="http://www.pattuko.com/"><img width="18" height="18" alt="Sarah Magill" style="vertical-align:top;outline:none;border:none" src="http://d2tgu4jwper4r3.cloudfront.net/uploads/artist/artist_profile_image/377/thumb_377-Ram-Charan-profile_pic.jpg"></a></td>



 <td style="padding:0 0 0 5px"><a target="_blank" style="font-family:'helvetica neue',helvetica,arial,sans-serif;font-size:11px;font-weight:bold;color:#ad9c9c;text-decoration:none;margin:0;padding:5px 0" title="Sarah Magill" 
 	href="http://www.pattuko.com/">Ram charan</a></td>



 </tr>

 </tbody></table>

 </td>

 </tr>

 <tr>

 <td>

 <table cellspacing="0" cellpadding="0" border="0">

 <tbody><tr>

 <td style="width:1px;background-color:#eceaeb"></td>

 <td style="border-top:1px solid #eae9e9;border-right:1px solid #d4d2d3;border-bottom:1px solid #b2b1b1;border-left:1px solid #d4d2d3">

 <table cellspacing="0" cellpadding="0" border="0" bgcolor="#FFFFFF">

 <tbody><tr>

 <td>

 <a target="_blank" title="See this board" href="http://www.pattuko.com/">

 <img width="222" height="150" alt="Food" style="vertical-align:top;outline:none;border:none;border-bottom:1px solid #ffffff" src="http://d2tgu4jwper4r3.cloudfront.net/uploads/posts/image/653/medium_Yevadu-Movie-Wallpapers-2.jpg">

 </a>

 </td>

 </tr>

 <tr>

 <td>

 <table cellspacing="0" cellpadding="0" border="0">

 <tbody><tr>

 

 <td><a target="_blank" title="See this board" href="http://www.pattuko.com/"><img width="55" height="55" style="vertical-align:top;outline:none;border:none;border-right:1px solid #ffffff" alt="1" src="http://d2tgu4jwper4r3.cloudfront.net/uploads/posts/image/303/thumb_BraintransplantforCharante3.jpg"></a></td>



 

 <td><a target="_blank" title="See this board" href="http://www.pattuko.com/"><img width="55" height="55" style="vertical-align:top;outline:none;border:none;border-right:1px solid #ffffff" alt="2" src="http://d2tgu4jwper4r3.cloudfront.net/uploads/posts/image/259/thumb_Yevadu-story-leaked.jpg"></a></td>



 

 <td><a target="_blank" title="See this board" href="http://www.pattuko.com/"><img width="55" height="55" style="vertical-align:top;outline:none;border:none;border-right:1px solid #ffffff" alt="3" src="http://d2tgu4jwper4r3.cloudfront.net/uploads/posts/image/435/thumb_what-next-for-ram_charan.jpg"></a></td>



 

 <td><a target="_blank" title="See this board" href="http://www.pattuko.com/"><img width="54" height="55" style="vertical-align:top;outline:none;border:none" alt="4" src="http://d2tgu4jwper4r3.cloudfront.net/uploads/posts/image/502/thumb_vamsi-rubbishes-rumours-about-ram-charan.JPG"></a></td>



 

 </tr>

 </tbody></table>

 </td>

 </tr>

 </tbody></table>

 </td>

 <td style="width:1px;background-color:#eceaeb"></td>

 </tr>

 <tr>

 <td width="1" style="background-color:#eceaeb"></td>

 <td height="1" style="background-color:#d5d3d4"></td>

 <td width="1" style="background-color:#eceaeb"></td>

 </tr>

 <tr>

 <td width="1"></td>

 <td height="1" style="background-color:#e8e6e7"></td>

 <td width="1"></td>

 </tr>

 </tbody></table>

 </td>

 </tr>

 

<tr><td width="220" valign="" align="center" style="padding:20px">

 <table cellspacing="0" cellpadding="0" border="0">

 <tbody><tr>

 <td height="34" background="http://passets.pinterest.com/images/mail/button_borderless.gif" align="center" style="background-repeat:repeat-x;border-radius:6px;background-color:#d43638;border:1px solid #910101;white-space:nowrap;min-height:34px">



 <a target="_blank" title="Fan" style="color:#fcf9f9;text-align:center;text-decoration:none;vertical-align:baseline" href="http://www.pattuko.com/">

 

 <span style="padding:9px 15px;color:#fcf9f9;text-decoration:none;color:#fcf9f9;font-family:'helvetica neue',helvetica,arial,sans-serif;font-weight:bold;font-size:14px;line-height:18px;white-space:nowrap">Fan</span>

 

 </a>

 </td>

 </tr>

 </tbody></table>

</td>



 </tr></tbody></table>

 </td>

 

 

 

 </tr>
      </tbody>
	  </table>
       </td>
    </tr>
    <tr>
    <td background="http://passets.pinterest.com/images/mail/double_rules_full22.gif" align="center">
	<table cellspacing="0" cellpadding="0" border="0" align="center">
	<tbody><tr>
	<td background="http://passets.pinterest.com/images/paper.jpg">
	<h2 style="font-family:georgia,serif;font-weight:normal;font-size:21px;line-height:20px;color:#211922!important;margin:0;padding:0 20px">Posts You'll Love</h2>
	</td>
	</tr>
	</tbody>
	</table>
    </td>
    </tr>
    <tr>

 <td style="padding:19px 0 20px">

 <table width="100%" cellspacing="0" cellpadding="0" border="0">

 

 <tbody><tr>

 

 

 <td width="226" style="vertical-align:top">

 <table cellspacing="0" cellpadding="0" border="0">

 

 

 <tbody><tr>

 <td width="226" style="padding:11px 0 0">

 <table cellspacing="0" cellpadding="0" border="0">

 <tbody><tr>

 <td style="width:1px;background-color:#eceaeb"></td>

 <td style="border-top:1px solid #eae9e9;border-right:1px solid #d4d2d3;border-bottom:1px solid #b2b1b1;border-left:1px solid #d4d2d3">

 <table cellspacing="0" cellpadding="0" border="0">

 <tbody><tr>

 <td width="191" bgcolor="#FFFFFF" style="background-color:#ffffff;padding:15px 15px 10px">

 <a target="_blank" title="blues // #style" href="http://www.pattuko.com/"><img style="vertical-align:top;outline:none;border:none" 
 	src="<%= @post[0].image.url(:thumb) %>"></a>

 </td>

 </tr>

 <tr>

 <td width="222" bgcolor="#FFFFFF" align="center">

 <table width="191" cellspacing="0" cellpadding="0" border="0">

 <tbody><tr>

 <td align="left" style="font-family:'helvetica neue',helvetica,arial,sans-serif;font-size:11px;color:#211922;line-height:1.35em">

 <%= @post[0].title %>

 </td>

 </tr>

 <tr>

 <td align="left" style="font-family:'helvetica neue',helvetica,arial,sans-serif;font-size:11px;color:#8c7e7e;margin:0;padding:5px 0 10px">

 

 

 <span>

 5 likes

 </span>

 

 

 

 

 <span style="padding:0 0 0 10px">

 8 claps

 </span>

 

 </td>

 </tr>

 </tbody></table>

 </td>

 </tr>

 <tr>
 

 <td bgcolor="#F2F0F0" style="padding:10px 15px;vertical-align:top;width:222px">

 <table width="191" cellspacing="0" cellpadding="0" border="0" style="table-layout:fixed">

 <tbody><tr>

 <td width="30" valign="top"><a target="_blank" title="AS Couillard" href="http://www.pattuko.com/"><img width="30" height="30" style="vertical-align:top;outline:none;border:none" src="http://d154rvuufl6jl1.cloudfront.net/facebook_profile_image/100000891237627/2.jpg"></a></td>



 <td align="left" style="padding:0 0 0 5px;font-family:'helvetica neue',helvetica,arial,sans-serif;font-size:11px;line-height:1.35em;color:#ad9c9c;word-wrap:break-word;max-width:156px">

 <a target="_blank" style="color:#8c7e7e;font-weight:bold;text-decoration:none" href="http://www.pattuko.com/">
 	Murali Rajagopal </a>

 

 

 onto <a target="_blank" style="color:#8c7e7e;font-weight:bold;text-decoration:none;word-wrap:break-word" href="http://www.pattuko.com/">movie.</a>

 

 </td>

 </tr>

 </tbody></table>

 </td>

 </tr>

 </tbody></table>

 </td>

 <td style="width:1px;background-color:#eceaeb"></td>

 </tr>

 <tr>

 <td width="1" style="background-color:#eceaeb"></td>

 <td height="1" style="background-color:#d5d3d4"></td>

 <td width="1" style="background-color:#eceaeb"></td>

 </tr>

 <tr>

 <td width="1"></td>

 <td height="1" style="background-color:#e8e6e7"></td>

 <td width="1"></td>

 </tr>

 </tbody></table>

 </td>



 </tr>

 

 

 

 <tr>

 <td width="226" style="padding:11px 0 0">

 <table cellspacing="0" cellpadding="0" border="0">

 <tbody><tr>

 <td style="width:1px;background-color:#eceaeb"></td>

 <td style="border-top:1px solid #eae9e9;border-right:1px solid #d4d2d3;border-bottom:1px solid #b2b1b1;border-left:1px solid #d4d2d3">

 <table cellspacing="0" cellpadding="0" border="0">

 <tbody><tr>

 <td width="191" bgcolor="#FFFFFF" style="background-color:#ffffff;padding:15px 15px 10px">

 <a target="_blank" title="Angelo Nardelli Spring/Summer 2013" href="http://www.pattuko.com/"><img style="vertical-align:top;outline:none;border:none" src="<%= @post[3].image.url(:thumb) %>"></a>

 </td>

 </tr>

 <tr>

 <td width="222" bgcolor="#FFFFFF" align="center">

 <table width="191" cellspacing="0" cellpadding="0" border="0">

 <tbody><tr>

 <td align="left" style="font-family:'helvetica neue',helvetica,arial,sans-serif;font-size:11px;color:#211922;line-height:1.35em">

 <%= @post[3].title %>

 </td>

 </tr>

 <tr>

 <td align="left" style="font-family:'helvetica neue',helvetica,arial,sans-serif;font-size:11px;color:#8c7e7e;margin:0;padding:5px 0 10px">

 

 

 <span>

 5 likes

 </span>

 

 

 

 

 <span style="padding:0 0 0 10px">

 11 claps

 </span>

 

 </td>

 </tr>

 </tbody></table>

 </td>

 </tr>

 <tr>

 

 <td bgcolor="#F2F0F0" style="padding:10px 15px;vertical-align:top;width:222px">

 <table width="191" cellspacing="0" cellpadding="0" border="0" style="table-layout:fixed">

 <tbody><tr>

 <td width="30" valign="top"><a target="_blank" title="Michael Stancil" href="http://www.pattuko.com/"><img width="30" height="30" style="vertical-align:top;outline:none;border:none" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-prn2/195644_100004222688941_185868850_q.jpg"></a></td>



 <td align="left" style="padding:0 0 0 5px;font-family:'helvetica neue',helvetica,arial,sans-serif;font-size:11px;line-height:1.35em;color:#ad9c9c;word-wrap:break-word;max-width:156px">

 <a target="_blank" style="color:#8c7e7e;font-weight:bold;text-decoration:none" href="http://www.pattuko.com/">Pooja </a>

 

 

 onto <a target="_blank" style="color:#8c7e7e;font-weight:bold;text-decoration:none;word-wrap:break-word" href="http://www.pattuko.com/">Movies</a>

 

 </td>

 </tr>

 </tbody></table>

 </td>

 </tr>

 </tbody></table>

 </td>

 <td style="width:1px;background-color:#eceaeb"></td>

 </tr>

 <tr>

 <td width="1" style="background-color:#eceaeb"></td>

 <td height="1" style="background-color:#d5d3d4"></td>

 <td width="1" style="background-color:#eceaeb"></td>

 </tr>

 <tr>

 <td width="1"></td>

 <td height="1" style="background-color:#e8e6e7"></td>

 <td width="1"></td>

 </tr>

 </tbody></table>

 </td>



 </tr>

 

 

 </tbody></table>

 </td>

 

 <td width="11">&nbsp;</td>

 

 

 <td width="226" style="vertical-align:top">

 <table cellspacing="0" cellpadding="0" border="0">

 

 

 <tbody><tr>

 <td width="226" style="padding:11px 0 0">

 <table cellspacing="0" cellpadding="0" border="0">

 <tbody><tr>

 <td style="width:1px;background-color:#eceaeb"></td>

 <td style="border-top:1px solid #eae9e9;border-right:1px solid #d4d2d3;border-bottom:1px solid #b2b1b1;border-left:1px solid #d4d2d3">

 <table cellspacing="0" cellpadding="0" border="0">

 <tbody><tr>

 <td width="191" bgcolor="#FFFFFF" style="background-color:#ffffff;padding:15px 15px 10px">

 <a target="_blank" title="little foxes" href="http://www.pattuko.com/"><img style="vertical-align:top;outline:none;border:none" src="<%= @post[1].image.url(:thumb) %>"></a>

 </td>

 </tr>

 <tr>

 <td width="222" bgcolor="#FFFFFF" align="center">

 <table width="191" cellspacing="0" cellpadding="0" border="0">

 <tbody><tr>

 <td align="left" style="font-family:'helvetica neue',helvetica,arial,sans-serif;font-size:11px;color:#211922;line-height:1.35em">

 <%= @post[1].title %>

 </td>

 </tr>

 <tr>

 <td align="left" style="font-family:'helvetica neue',helvetica,arial,sans-serif;font-size:11px;color:#8c7e7e;margin:0;padding:5px 0 10px">

 

 

 <span>

 48 likes

 </span>

 

 

 

 

 <span style="padding:0 0 0 10px">

 67 claps

 </span>

 

 </td>

 </tr>

 </tbody></table>

 </td>

 </tr>

 <tr>

 

 <td bgcolor="#F2F0F0" style="padding:10px 15px;vertical-align:top;width:222px">

 <table width="191" cellspacing="0" cellpadding="0" border="0" style="table-layout:fixed">

 <tbody><tr>

 <td width="30" valign="top"><a target="_blank" title="Ellary Branden" href="http://www.pattuko.com/"><img width="30" height="30" style="vertical-align:top;outline:none;border:none" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-prn2/260919_100006432878866_327568968_q.jpg"></a></td>



 <td align="left" style="padding:0 0 0 5px;font-family:'helvetica neue',helvetica,arial,sans-serif;font-size:11px;line-height:1.35em;color:#ad9c9c;word-wrap:break-word;max-width:156px">
 <a target="_blank" style="color:#8c7e7e;font-weight:bold;text-decoration:none" href="http://www.pattuko.com/">Taraka Ramu </a>

 

 

 

 

 via <a target="_blank" style="color:#8c7e7e;font-weight:bold;text-decoration:none;word-wrap:break-word" href="http://www.pattuko.com/">Murali Rajagopal</a> onto <a target="_blank" style="color:#8c7e7e;font-weight:bold;text-decoration:none;word-wrap:break-word" href="http://www.pattuko.com/">Artists</a>

 

 

 </td>

 </tr>

 </tbody></table>

 </td>

 </tr>

 </tbody></table>

 </td>

 <td style="width:1px;background-color:#eceaeb"></td>

 </tr>

 <tr>

 <td width="1" style="background-color:#eceaeb"></td>

 <td height="1" style="background-color:#d5d3d4"></td>

 <td width="1" style="background-color:#eceaeb"></td>

 </tr>

 <tr>

 <td width="1"></td>

 <td height="1" style="background-color:#e8e6e7"></td>

 <td width="1"></td>

 </tr>

 </tbody></table>

 </td>



 </tr>

 

 

 

 <tr>

 <td width="226" style="padding:11px 0 0">

 <table cellspacing="0" cellpadding="0" border="0">

 <tbody><tr>

 <td style="width:1px;background-color:#eceaeb"></td>

 <td style="border-top:1px solid #eae9e9;border-right:1px solid #d4d2d3;border-bottom:1px solid #b2b1b1;border-left:1px solid #d4d2d3">

 <table cellspacing="0" cellpadding="0" border="0">

 <tbody><tr>

 <td width="191" bgcolor="#FFFFFF" style="background-color:#ffffff;padding:15px 15px 10px">

 <a target="_blank" title=" " href="http://www.pattuko.com/"><img style="vertical-align:top;outline:none;border:none" 
 	src="<%= @post[4].image.url(:thumb) %>"></a>

 </td>

 </tr>

 <tr>

 <td width="222" bgcolor="#FFFFFF" align="center">

 <table width="191" cellspacing="0" cellpadding="0" border="0">

 <tbody><tr>

 <td align="left" style="font-family:'helvetica neue',helvetica,arial,sans-serif;font-size:11px;color:#211922;line-height:1.35em">

 

 </td>

 </tr>

 <tr>

 <td align="left" style="font-family:'helvetica neue',helvetica,arial,sans-serif;font-size:11px;color:#8c7e7e;margin:0;padding:5px 0 10px">

 

 

 <span>

 4 likes

 </span>

 

 

 

 

 <span style="padding:0 0 0 10px">

 11 claps

 </span>

 

 </td>

 </tr>

 </tbody></table>

 </td>

 </tr>

 <tr>

 

 <td bgcolor="#F2F0F0" style="padding:10px 15px;vertical-align:top;width:222px">

 <table width="191" cellspacing="0" cellpadding="0" border="0" style="table-layout:fixed">

 <tbody><tr>

 <td width="30" valign="top"><a target="_blank" title="Maddy P." href="http://www.pattuko.com/"><img width="30" height="30" style="vertical-align:top;outline:none;border:none" src="http://media-cache-ec0.pinimg.com/avatars/maddyp613-1360441954_60.jpg"></a></td>



 <td align="left" style="padding:0 0 0 5px;font-family:'helvetica neue',helvetica,arial,sans-serif;font-size:11px;line-height:1.35em;color:#ad9c9c;word-wrap:break-word;max-width:156px">

 <a target="_blank" style="color:#8c7e7e;font-weight:bold;text-decoration:none" href="http://www.pattuko.com/">Syed Ali </a>

 

 

 

 

 via <a target="_blank" style="color:#8c7e7e;font-weight:bold;text-decoration:none;word-wrap:break-word" href="http://www.pattuko.com/">sivamani</a> onto <a target="_blank" style="color:#8c7e7e;font-weight:bold;text-decoration:none;word-wrap:break-word" href="http://www.pattuko.com/">Artists</a>

 

 

 </td>

 </tr>

 </tbody></table>

 </td>

 </tr>

 </tbody></table>

 </td>

 <td style="width:1px;background-color:#eceaeb"></td>

 </tr>

 <tr>

 <td width="1" style="background-color:#eceaeb"></td>

 <td height="1" style="background-color:#d5d3d4"></td>

 <td width="1" style="background-color:#eceaeb"></td>

 </tr>

 <tr>

 <td width="1"></td>

 <td height="1" style="background-color:#e8e6e7"></td>

 <td width="1"></td>

 </tr>

 </tbody></table>

 </td>



 </tr>

 

 

 </tbody></table>

 </td>

 

 <td width="11">&nbsp;</td>

 

 

 <td width="226" style="vertical-align:top">

 <table cellspacing="0" cellpadding="0" border="0">

 

 

 <tbody><tr>

 <td width="226" style="padding:11px 0 0">

 <table cellspacing="0" cellpadding="0" border="0">

 <tbody><tr>

 <td style="width:1px;background-color:#eceaeb"></td>

 <td style="border-top:1px solid #eae9e9;border-right:1px solid #d4d2d3;border-bottom:1px solid #b2b1b1;border-left:1px solid #d4d2d3">

 <table cellspacing="0" cellpadding="0" border="0">

 <tbody><tr>

 <td width="191" bgcolor="#FFFFFF" style="background-color:#ffffff;padding:15px 15px 10px">

 <a target="_blank" title="Wanderlust Your Wings &amp; Fly Necklace" href="http://www.pattuko.com/"><img style="vertical-align:top;outline:none;border:none" src="<%= @post[2].image.url(:thumb) %>"></a>

 </td>

 </tr>

 <tr>

 <td width="222" bgcolor="#FFFFFF" align="center">

 <table width="191" cellspacing="0" cellpadding="0" border="0">

 <tbody><tr>

 <td align="left" style="font-family:'helvetica neue',helvetica,arial,sans-serif;font-size:11px;color:#211922;line-height:1.35em">

 <%= @post[2].title %>

 </td>

 </tr>

 <tr>

 <td align="left" style="font-family:'helvetica neue',helvetica,arial,sans-serif;font-size:11px;color:#8c7e7e;margin:0;padding:5px 0 10px">

 

 

 <span>

 15 likes

 </span>

 

 

 

 <span style="padding:0 0 0 10px">

 2 comments

 </span>

 

 

 

 <span style="padding:0 0 0 10px">

 43 claps

 </span>

 

 </td>

 </tr>

 </tbody></table>

 </td>

 </tr>

 <tr>

 

 <td bgcolor="#F2F0F0" style="padding:10px 15px;vertical-align:top;width:222px">

 <table width="191" cellspacing="0" cellpadding="0" border="0" style="table-layout:fixed">

 <tbody><tr>

 <td width="30" valign="top"><a target="_blank" title="Maureen Jordan" href="http://www.pattuko.com/"><img width="30" height="30" style="vertical-align:top;outline:none;border:none" src="http://media-cache-ec0.pinimg.com/avatars/maureenjordan_1372820691_60.jpg"></a></td>



 <td align="left" style="padding:0 0 0 5px;font-family:'helvetica neue',helvetica,arial,sans-serif;font-size:11px;line-height:1.35em;color:#ad9c9c;word-wrap:break-word;max-width:156px">

 <a target="_blank" style="color:#8c7e7e;font-weight:bold;text-decoration:none" href="http://www.pattuko.com/">Praveen </a>
 

 

 onto <a target="_blank" style="color:#8c7e7e;font-weight:bold;text-decoration:none;word-wrap:break-word" href="http://www.pattuko.com/">Artists &amp; Movies</a>

 

 </td>

 </tr>

 </tbody></table>

 </td>

 </tr>

 </tbody></table>

 </td>

 <td style="width:1px;background-color:#eceaeb"></td>

 </tr>

 <tr>

 <td width="1" style="background-color:#eceaeb"></td>

 <td height="1" style="background-color:#d5d3d4"></td>

 <td width="1" style="background-color:#eceaeb"></td>

 </tr>

 <tr>

 <td width="1"></td>

 <td height="1" style="background-color:#e8e6e7"></td>

 <td width="1"></td>

 </tr>

 </tbody></table>

 </td>



 </tr>

 

 

 

 <tr>

 <td width="226" style="padding:11px 0 0">

 <table cellspacing="0" cellpadding="0" border="0">

 <tbody><tr>

 <td style="width:1px;background-color:#eceaeb"></td>

 <td style="border-top:1px solid #eae9e9;border-right:1px solid #d4d2d3;border-bottom:1px solid #b2b1b1;border-left:1px solid #d4d2d3">

 <table cellspacing="0" cellpadding="0" border="0">

 <tbody><tr>

 <td width="191" bgcolor="#FFFFFF" style="background-color:#ffffff;padding:15px 15px 10px">

 <a target="_blank" title=" " href="http://www.pattuko.com/"><img style="vertical-align:top;outline:none;border:none" 
 	src="<%= @post[5].image.url(:thumb) %>"></a>

 </td>

 </tr>

 <tr>

 <td width="222" bgcolor="#FFFFFF" align="center">

 <table width="191" cellspacing="0" cellpadding="0" border="0">

 <tbody><tr>

 <td align="left" style="font-family:'helvetica neue',helvetica,arial,sans-serif;font-size:11px;color:#211922;line-height:1.35em">

 

 </td>

 </tr>

 <tr>

 <td align="left" style="font-family:'helvetica neue',helvetica,arial,sans-serif;font-size:11px;color:#8c7e7e;margin:0;padding:5px 0 10px">

 

 

 <span>

 12 likes

 </span>

 

 

 

 

 <span style="padding:0 0 0 10px">

 57 claps

 </span>

 

 </td>

 </tr>

 </tbody></table>

 </td>

 </tr>

 <tr>

 

 <td bgcolor="#F2F0F0" style="padding:10px 15px;vertical-align:top;width:222px">

 <table width="191" cellspacing="0" cellpadding="0" border="0" style="table-layout:fixed">

 <tbody><tr>

 <td width="30" valign="top"><a target="_blank" title="Ian Robertson" href="http://www.pattuko.com/"><img width="30" height="30" style="vertical-align:top;outline:none;border:none" src="http://d154rvuufl6jl1.cloudfront.net/facebook_profile_image/100000891237627/2.jpg"></a></td>



 <td align="left" style="padding:0 0 0 5px;font-family:'helvetica neue',helvetica,arial,sans-serif;font-size:11px;line-height:1.35em;color:#ad9c9c;word-wrap:break-word;max-width:156px">

 <a target="_blank" style="color:#8c7e7e;font-weight:bold;text-decoration:none" href="http://www.pattuko.com/">Murali Rajagopal </a>

 

 

 

 

 via <a target="_blank" style="color:#8c7e7e;font-weight:bold;text-decoration:none;word-wrap:break-word" href="http://www.pattuko.com/">Taraka Ramu</a> onto <a target="_blank" style="color:#8c7e7e;font-weight:bold;text-decoration:none;word-wrap:break-word" href="http://www.pattuko.com/">Movies</a>

 

 

 </td>

 </tr>

 </tbody></table>

 </td>

 </tr>

 </tbody></table>

 </td>

 <td style="width:1px;background-color:#eceaeb"></td>

 </tr>

 <tr>

 <td width="1" style="background-color:#eceaeb"></td>

 <td height="1" style="background-color:#d5d3d4"></td>

 <td width="1" style="background-color:#eceaeb"></td>

 </tr>

 <tr>

 <td width="1"></td>

 <td height="1" style="background-color:#e8e6e7"></td>

 <td width="1"></td>

 </tr>

 </tbody></table>

 </td>



 </tr>

 

 

 </tbody></table>

 </td>

 

 

 

 </tr>

 

 </tbody></table>

 </td>

</tr>
    <tr>
    <td width="100%" height="18" background="http://passets.pinterest.com/images/mail/badge_rule.gif" align="center"></td>
    </tr>
    <tr>
    <td align="center" style="padding:30px 0">
    <table cellspacing="0" cellpadding="0" border="0">
    <tbody>
	<tr>
 <td width="100" align="right" style="font-family:'helvetica neue',helvetica,arial,sans-serif;font-size:12px;color:#8c7e7e">

 <a target="_blank" title="Like Pattuko on Facebook" style="color:#8c7e7e;text-decoration:none" 
 href="https://www.facebook.com/pattukodotcom/">

 

 Like us

 </a>

 </td>

 <td style="padding:0 10px"><a target="_blank" title="Like Pinterest on Facebook" 
 	href="https://www.facebook.com/pattukodotcom/"><img width="27" height="28" style="vertical-align:top;outline:none;border:none" src="http://passets.pinterest.com/images/mail/icon_facebook.jpg"></a></td>



 <td style="padding:0 10px"><a target="_blank" title="Download Pinterest mobile apps" href="http://www.pattuko.com/"><img width="27" height="28" style="vertical-align:top;outline:none;border:none" src="http://passets.pinterest.com/images/mail/icon_pinterest_app.jpg"></a></td>



 <td width="100" align="left" style="font-family:'helvetica neue',helvetica,arial,sans-serif;font-size:12px;color:#8c7e7e">

 <a target="_blank" title="Download Pinterest mobile apps" style="color:#8c7e7e;text-decoration:none" href="http://www.pattuko.com/">

 

 Get the apps

 </a>

 </td>

 </tr>

 </tbody></table>

 </td>

 </tr>
    <tr>
	   <td align="center" style="padding:0 0 15px">
	   <p style="font-family:'helvetica neue',helvetica,arial,sans-serif;font-size:11px;color:#999999;line-height:1.35em;margin:0;padding:0">
	   This email was sent to <a target="_blank" style="color:#999;text-decoration:none" 
	   href="http://<%=@recipient%>"><%=@recipient%></a>.
	   <br>
	   Don’t want your weekly Pinterest? <span><a target="_blank" title="Unsubscribe or manage your email preferences" style="color:#999;text-decoration:underline" href="http://www.pattuko.com/">Change your email preferences</a>.</span>
	   </p>
	   </td>
	</tr>
    <tr>
	<td align="center">
	<p style="font-family:'helvetica neue',helvetica,arial,sans-serif;font-size:10px;color:#999999;line-height:1.35em;margin:0;padding:0"><span>&copy;</span>2013 Pattuko, Inc. <font style="color:#aaa;padding:0 2px">|</font> All Rights Reserved.<br>
	<a target="_blank" style="color:#999;text-decoration:underline" href="http://www.pattuko.com/">Privacy Policy</a> <font style="color:#aaa;padding:0 2px">|</font> <a target="_blank" style="color:#999;text-decoration:underline"
	 href="http://www.pattuko.com/">Terms and Conditions</a></p>
	</td>
	</tr>
   </tbody>
   </table>
</td>
</tr>
</tbody>
</table>
</div>
</body>
</html>