<div class="artist_desc_area float_L">
    <a href="<%= artist_path(@artist) %>">
	   <img src="<%= @artist.artist_profile_image %>" width="100" height="100" class="artist_small_thumb">
    </a>

	<p>
		<%= link_to @artist.name, artist_path(@artist), :style => 'color: #0090ff' %><br>
		Actor/Director/Producer<br>
		<% if current_user %>
            <% if @artist.fans.collect(&:user_id).include?(current_user.id) %>
            <% else %>
                <input class="cmn_btn mt25" id="artist-<%= @artist.id %>" type="button" 
                value="I'm Fan">
            <% end %>
        <% else %>
            <a href="<%= user_omniauth_authorize_path(:facebook) %>">
                <input type="button" class="cmn_btn mt25" value="I'm Fan">
            </a>
        <% end %>
	</p>
	<div class="divider"></div>
	<ul class="artist_small_menu">
		<li class="phts">
            <a href="javascript:void(0);" class="artist-posts" 
                data-id="<%= @artist.id %>" data-post-type="Photo">
                Photos (<%= @artist.photos.count %>)
            </a>
        </li>
        <li class="fns">
            <a href="javascript:void(0);" id="artist-fans" data-id="<%= @artist.id %>">
                Fans (<%= @artist.fans.count %>)
            </a>
        </li>
        <li class="vds">
            <a href="javascript:void(0);" class="artist-posts" 
                data-id="<%= @artist.id %>" data-post-type="Video">
                Video (<%= @artist.videos.count %>)
            </a>
        </li>
        <li class="vds">
            <%= link_to "Movies (" + @artist.movies.count.to_s + ")", movies_artist_path(@artist), :class => 'artist-posts' %>
        </li>
        <li class="psts">
            <%= link_to "Posts (" + @artist.posts.count.to_s + ")", posts_artist_path(@artist), :class => 'artist-posts' %>
        </li>
	</ul>
</div>