<% if @post.posting_type == "Movie" %>

	<% movie = Movie.find(@post.posting_id) %>
    <div class="people_involved float_L">
        <ul>
            <li>
            	<figure class="float_L">
            	 	<a href="<%= movie_path(movie) %>">
            	 		<img src="<%= movie.movie_image.url(:thumb)%>" alt="acotor" style="width:60px; height:80px;">
                    </a>
            	</figure>
            	<span class="float_L">
            	  	<a href="<%= movie_path(movie) %>" style="font-weight: bold;"><%= movie.name %></a></br>
            	  	<% unless movie.hero.nil? %>
            			<a href="<%= artist_path(movie.hero) %>"><%= movie.hero.name %></a>
            		<% end %>
            		<% unless movie.heroine.nil? %>
            			<a href="<%= artist_path(movie.heroine) %>">,<%= movie.heroine.name %></a>
            		<% end %>
            		</br>
                    released on <%= movie.year %></br>
            	  	<%= pluralize( Movie.find(movie.id).fans.count, 'fan' ) %>
            	</span>
                <% if current_user %>
                    <% unless movie.fans.collect(&:user_id).include?(current_user.id) %>
                        <input class="float_R cmn_btn" id="movie-<%= movie.id %>-<%= current_user.id %>" type="submit" value="I'm Fan">
                    <% end %>
                <% else %>
                    <a href="<%= user_omniauth_authorize_path(:facebook) %>">
                    	<input class="float_R cmn_btn" type="submit" value="I'm Fan">
                    </a>
                <% end %>
            </li>
        </ul>
    </div>

<% elsif @post.posting_type == "Artist" %>

	<% artist = Artist.find(@post.posting_id) %>
	<div class="people_involved float_L">
    	<ul>
        	<li>
            	<figure class="float_L">
                    <a href="<%= artist_path(artist) %>">
                        <img src="<%= artist.artist_profile_image.url(:thumb)%>" alt="acotor">
                    </a>
                </figure>
                <span class="float_L">
                  <a href="<%= artist_path(artist) %>"><%= artist.name %></a><br>
                    <%= pluralize( Artist.find(artist.id).fans.count, 'fan' ) %> <br>
                </span>
                
                <% if current_user %>
                    <% unless artist.fans.collect(&:user_id).include?(current_user.id) %>
                        <input class="float_R cmn_btn" id="artist-<%= artist.id %>-<%= current_user.id %>" type="submit" value="I'm Fan">
                    <% end %>
                <% else %>
                    <a href="<%= user_omniauth_authorize_path(:facebook) %>">
                    	<input class="float_R cmn_btn" type="submit" value="I'm Fan">
                    </a>
                <% end %>
        	</li>
    	</ul>
	</div>

<% elsif @post.posting_type == "Event" %>
    <% event = Event.find(@post.posting_id) %>
    <% if event.eventable_type == "Movie" %>
        
        <% movie = Movie.find(event.eventable_id) %>
        <figure class="float_L">
            <a href="<%= movie_path(movie) %>">
                <img src="<%= movie.movie_image.url(:thumb)%>" alt="acotor"  style="width:60px; height:80px;">
            </a>
        </figure>
        <span class="float_L">
            <a href="<%= movie_path(movie) %>"><%= movie.name %></a></br>
            released on <%= movie.year %></br>
            <% unless movie.hero.nil? %>
                <a href="<%= artist_path(movie.hero) %>"><%= movie.hero.name %></a>
            <% end %>
            <% unless movie.heroine.nil? %>
                <a href="<%= artist_path(movie.heroine) %>">,<%= movie.heroine.name %></a>
            <% end %>
            </br>
            <%= pluralize( Movie.find(movie.id).fans.count, 'fan' ) %>
        </span>
        <% if current_user %>
            <% if movie.fans.collect(&:user_id).include?(current_user.id) %>
            <% else %>
                <input class="float_R cmn_btn" id="movie-<%= movie.id %>-<%= current_user.id %>" type="submit" value="I'm Fan">
            <% end %>
        <% else %>
            <a href="<%= user_omniauth_authorize_path(:facebook) %>">
                <input class="float_R cmn_btn" type="submit" value="I'm Fan">
            </a>
        <% end %>

    <% elsif event.eventable_type == "Artist" %>

        <% artist = Artist.find(event.eventable_id) %>
        <figure class="float_L">
            <a href="<%= artist_path(artist) %>">
                <img src="<%= artist.artist_profile_image.url(:thumb)%>" alt="acotor">
            </a>
        </figure>
        <span class="float_L">
           <a href="<%= artist_path(artist) %>"><%= artist.name %></a><br>
            <%= pluralize( Artist.find(artist.id).fans.count, 'fan' ) %> <br>
        </span>
        <% if current_user %>
            <% if artist.fans.collect(&:user_id).include?(current_user.id) %>
            <% else %>
                <input class="float_R cmn_btn" id="artist-<%= artist.id %>-<%= current_user.id %>" type="submit" value="I'm Fan">
            <% end %>
        <% else %>
            <a href="<%= user_omniauth_authorize_path(:facebook) %>">
                <input class="float_R cmn_btn" type="submit" value="I'm Fan">
            </a>
        <% end %>

    <% end %>

<% end %>


